@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
picture,
svg {
  max-width: 100%;
  height: auto;
}

img,
picture {
  display: block;
}

address {
  font-style: normal;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 3.2rem;
  height: 100vh;
  background-color: hsl(222, 26%, 31%);
  color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 54rem;
  margin: 2rem;
}

.header {
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.header-name {
  font-size: 2.6rem;
}

.theme {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 14rem;
}

.output {
  font-size: 5rem;
  text-align: end;
  padding: 4rem 3.5rem;
  margin-bottom: 2.4rem;
  background-color: hsl(224, 36%, 15%);
  border-radius: 0.7rem;
  overflow-wrap: break-word;
}

.input-grid {
  font-size: 4.2rem;
  background-color: hsl(223, 31%, 20%);
  border-radius: 0.7rem;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  column-gap: 2.5rem;
  row-gap: 2.4rem;
}
.input-grid > button {
  min-width: 10.1rem;
  height: 6.4rem;
  color: hsl(221, 14%, 31%);
  background-color: hsl(30, 25%, 89%);
  border-bottom: 4px solid hsl(28, 16%, 65%);
  border-radius: 0.7rem;
  transition: all 0.2s ease-in-out;
}
.input-grid > button:hover {
  background-color: hsl(0, 0%, 100%);
}
.input-grid > .span-2 {
  grid-column: span 2;
}
.input-grid > .primary, .input-grid > .accent {
  font-size: 3rem;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
}
.input-grid > .primary {
  background-color: hsl(225, 21%, 49%);
  border-bottom: 4px solid hsl(224, 28%, 35%);
}
.input-grid > .primary:hover {
  background-color: hsl(225, 21%, 49%);
  filter: brightness(1.4);
}
.input-grid > .accent {
  background-color: hsl(6, 63%, 50%);
  border-bottom: 4px solid hsl(6, 70%, 34%);
}
.input-grid > .accent:hover {
  background-color: hsl(6, 63%, 50%);
  filter: brightness(1.6);
}

/*# sourceMappingURL=main.css.map */
